<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="position.css">
</head>

<body>
    <p id="prvi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptas eligendi consequatur molestias reiciendis asperiores odio pariatur officiis impedit fuga voluptatum veritatis hic placeat officia perferendis, sint ipsum neque culpa, temporibus
        dolores nisi quod. Minus non laborum perspiciatis repellendus nesciunt voluptate est ducimus obcaecati quas omnis quibusdam, cumque a quos odio vero fugit asperiores dolor totam nam delectus nulla, repellat ex, adipisci mollitia? Iusto ad atque,
        eveniet porro libero eligendi veniam cupiditate dolores provident repudiandae qui praesentium. Ex iste a provident facilis ratione illum tempore perferendis cupiditate, assumenda, culpa recusandae pariatur id unde exercitationem distinctio ducimus
        velit laudantium animi aperiam.
    </p>
    <img src="/WK1/img/2285083_0801-maldivi-shutterstock-1291629388_ls.jpg" class="first">
    <img src="/WK1/img/zalazak.jpg" class="second">
    <img src="/WK1/img/hands.jpg" class="third">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare, lectus in vehicula aliquam, odio quam elementum tortor, fermentum lobortis odio est ut elit. Sed condimentum leo sed tortor pulvinar, in cursus sem tincidunt. Donec mauris massa,
        tempor sed sapien at, fermentum convallis lectus. Pellentesque placerat orci ut magna auctor, sed placerat eros varius. Nunc sit amet vehicula nisi. Vestibulum consectetur ipsum tellus, ac dapibus quam rhoncus et. Aenean auctor vitae massa sit
        amet facilisis. Nam nec urna ex. Phasellus gravida tincidunt arcu, eu pellentesque lacus vehicula sed. Fusce consequat ante a tristique iaculis. Curabitur fermentum massa sit amet urna condimentum tempus. Suspendisse gravida, tortor sed ornare
        maximus, mauris odio ornare sem, a faucibus arcu orci ut eros. Praesent nec vulputate dui, vel maximus urna. Suspendisse odio enim, pulvinar nec sodales eget, bibendum sit amet est. Morbi aliquet eu augue ac elementum.Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Unde ipsam eum numquam. Natus iste magnam ratione quas minus ea, magni similique vitae quo tenetur dolores officiis, quibusdam fugiat sequi rerum. Ex vel sequi minima eius hic molestiae velit repellendus tempora cupiditate,
        deleniti dolores nemo. Temporibus, esse maiores mollitia voluptates tenetur earum quasi autem? Explicabo dolorem repellat voluptatibus nemo possimus enim. Quisquam dolores repellat tenetur blanditiis ex possimus magni fugiat? Assumenda neque veritatis
        reiciendis quidem recusandae dolorem tempore reprehenderit, exercitationem blanditiis iure aliquid non. Maxime obcaecati deserunt praesentium laudantium eaque velit.
    </p>
    <p>Phasellus gravida tincidunt arcu, eu pellentesque lacus vehicula sed. Fusce consequat ante a tristique iaculis. Curabitur fermentum massa sit amet urna condimentum tempus. Suspendisse gravida, tortor sed ornare maximus, mauris odio ornare sem, a faucibus
        arcu orci ut eros. Praesent nec vulputate dui, vel maximus urna. Suspendisse odio enim, pulvinar nec sodales eget, bibendum sit amet est. Morbi aliquet eu augue ac elementum.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde ipsam
        eum numquam. Natus iste magnam ratione quas minus ea, magni similique vitae quo tenetur dolores officiis, quibusdam fugiat sequi rerum. Ex vel sequi minima eius hic molestiae velit repellendus tempora cupiditate, deleniti dolores nemo. Temporibus,
        esse maiores mollitia voluptates tenetur earum quasi autem? Explicabo dolorem repellat voluptatibus nemo possimus enim. Quisquam dolores repellat tenetur blanditiis ex possimus magni fugiat? Assumenda neque veritatis reiciendis quidem recusandae
        dolorem tempore reprehenderit, exercitationem blanditiis iure aliquid non. Maxime obcaecati deserunt praesentium laudantium eaque velit.
    </p>
    <p>loreLorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eaque laboriosam reiciendis in qui, incidunt laborum. Mollitia, voluptas ad! Ab libero possimus nostrum maiores aut nemo quidem officia dignissimos pariatur? Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Proin ornare, lectus in vehicula aliquam, odio quam elementum tortor, fermentum lobortis odio est ut elit. Sed condimentum leo sed tortor pulvinar, in cursus sem tincidunt. Donec mauris massa, tempor sed sapien at,
        fermentum convallis lectus. Pellentesque placerat orci ut magna auctor, sed placerat eros varius. Nunc sit amet vehicula nisi. Vestibulum consectetur ipsum tellus, ac dapibus quam rhoncus et. Aenean auctor vitae massa sit amet facilisis. Nam nec
        urna ex. Phasellus gravida tincidunt arcu, eu pellentesque lacus vehicula sed. Fusce consequat ante a tristique iaculis. Curabitur fermentum massa sit amet urna condimentum tempus. Suspendisse gravida, tortor sed ornare maximus, mauris odio ornare
        sem, a faucibus arcu orci ut eros. Praesent nec vulputate dui, vel maximus urna. Suspendisse odio enim, pulvinar nec sodales eget, bibendum sit amet est. Morbi aliquet eu augue ac elementum.
    </p>
    <a class="drugi" href="#prvi">Top</a>
</body>

</html>