<!--Z-Index

● Creating divs
○ Create a page with three divs
○ Elements on the page should be 200px wide and 200px high
○ Each div should be of different color
○ Divs should be stacked one on top of the other
● Arranging divs
○ Copy code from the first section and create a new one
○ Position divs as presented in the example
○ Use relative position for positioning
● Rearranging divs and stacking order
○ Create one more section using html code from the first section
○ Arrange divs as shown in the example
○ This time use absolute positioning
● Change stacking order using z-index-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Z_index.css">
</head>

<body>

    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
    <hr>
    <div class="f"></div>
    <div class="s"></div>
    <div class="t"></div>
    <hr>
    <div class="ff"></div>
    <div class="ss"></div>
    <div class="tt"></div>
</body>

</html>