/* body {
     margin: 0;
     padding: 0;
     height: 100vh;
 }
 
 .wraper {
     height: 90%;
     position: relative;
     background: url("./img/bg.jpg");
     background-repeat: repeat-x;
     background-size: contain;
 }
 
 .mario {
     width: 150px;
     position: absolute;
     left: 47%;
     top: 58%;
 }*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("./img/bg.jpg");
    background-repeat: repeat-x;
    background-size: contain;
}

.wraper {
    height: 90%;
    position: relative;
}

.mario {
    width: 120px;
    position: absolute;
    left: 47%;
    top: 65%;
}

.mario_running {
    width: 120px;
    position: absolute;
    left: 47%;
    top: 65%;
}