<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed Layout</title>
    <link rel="stylesheet" href="fixedlayout.css">
</head>

<body>

    <div class="container clear-fix">

        <nav class="top">

            <div class="pic">
                <img class="picture" src=data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAG1BMVEXp7vG6vsHGy83b4OPM0NPX3N/M0dTV2dzJzdArziWnAAABa0lEQVR4nO3a207CQABF0eqg8v9fbIKAM9KLvZCekrUeadOcHcT2oV0HAAAAAAAAAAAAAAAAAER6W2fv+TcrM2JSNuiIKDlvEvKxd8ZGX0jCV7J+RlDI++orCNmOkOYKaSGfl1Gn+VcIC1n2zzQvZOFtIS5k6Q1OyLbuIaUJmfHwlBbyn4en0vfxAUNK7+dpIe2fVuk5tfRPTguZ/LGXgUNHCylDx+JCxm+IZfBoXsjYI0r7C3q4QlhId7qM6nlobDva3YkhQ/52NMMPFPLYUS8/TkhfRzX9MCH9Hb/bjxIy1HEfnxxS7RruuK0PDqmGjXVcz8oNqZaNd/ycFRtSbZzqiA6pRk52JIdUK6c7gkOmtx8jZGZHbMjcjtSQ2R2hIfM7MkMWdESGLOkQ8gRChDyJkNiQVVcQsh0hzRVCQl7mNacN7J3Rvc47ja8Tcn0laI2vvRPuzu8r7D0eAAAAAAAAAAAAAAAAAOj3DRyCCigtOKF7AAAAAElFTkSuQmCC>
            </div>
            <div class="top-container">
                <h1>Howard Alexander</h1>
                <h5>Designer at BittLayouts</h5>
            </div>
        </nav>
        <div class="left">
            <div class="subheader">
                <h2>About</h2>
            </div>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias placeat dolore blanditiis perferendis, pariatur explicabo labore reiciendis molestiae consequuntur possimus, totam atque voluptatibus esse tempore dolor cum corrupti commodi
                similique! Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto neque doloremque voluptatum eius nulla vero autem laborum minus atque velit inventore eveniet, rem ea unde quaerat aliquam consectetur ex. Quisquam? Lorem ipsum
                dolor sit amet consectetur, adipisicing elit. Odit quia eius itaque beatae consequatur praesentium perferendis veritatis nihil eum quam culpa, maxime illo? Nemo, placeat facilis? Animi quo magni dolorem?

            </p>
        </div>
        <div class="right">
            <div class="right-up">
                <div class="subheader">
                    <h2>Post No 2</h2>
                </div>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias placeat dolore blanditiis perferendis, pariatur explicabo labore reiciendis molestiae consequuntur possimus, totam atque voluptatibus esse tempore dolor cum corrupti commodi
                    similique! Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto neque doloremque voluptatum eius nulla vero autem laborum minus atque velit inventore eveniet, rem ea unde quaerat aliquam consectetur ex. Quisquam? Lorem
                    ipsum dolor sit amet consectetur, adipisicing elit. Odit quia eius itaque beatae consequatur praesentium perferendis veritatis nihil eum quam culpa, maxime illo? Nemo, placeat facilis? Animi quo magni dolorem?

                </p>
            </div>
            <div class="right-down">
                <div class="subheader">
                    <h2>Post No 1</h2>
                </div>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias placeat dolore blanditiis perferendis, pariatur explicabo labore reiciendis molestiae consequuntur possimus, totam atque voluptatibus esse tempore dolor cum corrupti commodi
                    similique! Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto neque doloremque voluptatum eius nulla vero autem laborum minus atque velit inventore eveniet, rem ea unde quaerat aliquam consectetur ex. Quisquam? Lorem
                    ipsum dolor sit amet consectetur, adipisicing elit. Odit quia eius itaque beatae consequatur praesentium perferendis veritatis nihil eum quam culpa, maxime illo? Nemo, placeat facilis? Animi quo magni dolorem?

                </p>
            </div>
        </div>
    </div>
</body>

</html>