<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Layout</title>
    <link rel="stylesheet" href="responsive.css">
</head>

<body>
    <div class="container clear-fix">
        <div class="headline">
            <h1>BitLayouts</h1>
        </div>
        <div class="header-image">
            <img src="https://cdn-learn.adafruit.com/assets/assets/000/020/451/original/raspberry_pi_image-placeholder.jpg?1413541805" alt="header image">
        </div>
        <div class="nav">
            <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="first">

            <img class="img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAG1BMVEXp7vG6vsHGy83b4OPM0NPX3N/M0dTV2dzJzdArziWnAAABa0lEQVR4nO3a207CQABF0eqg8v9fbIKAM9KLvZCekrUeadOcHcT2oV0HAAAAAAAAAAAAAAAAAER6W2fv+TcrM2JSNuiIKDlvEvKxd8ZGX0jCV7J+RlDI++orCNmOkOYKaSGfl1Gn+VcIC1n2zzQvZOFtIS5k6Q1OyLbuIaUJmfHwlBbyn4en0vfxAUNK7+dpIe2fVuk5tfRPTguZ/LGXgUNHCylDx+JCxm+IZfBoXsjYI0r7C3q4QlhId7qM6nlobDva3YkhQ/52NMMPFPLYUS8/TkhfRzX9MCH9Hb/bjxIy1HEfnxxS7RruuK0PDqmGjXVcz8oNqZaNd/ycFRtSbZzqiA6pRk52JIdUK6c7gkOmtx8jZGZHbMjcjtSQ2R2hIfM7MkMWdESGLOkQ8gRChDyJkNiQVVcQsh0hzRVCQl7mNacN7J3Rvc47ja8Tcn0laI2vvRPuzu8r7D0eAAAAAAAAAAAAAAAAAOj3DRyCCigtOKF7AAAAAElFTkSuQmCC">

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam ex veritatis numquam quo nostrum porro, tempora dolore corporis dolorem dolor voluptatum cumque, totam doloremque. Libero delectus laudantium earum suscipit vel!Lorem

            </p>

        </div>
        <div class="second">
            <img class="img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAG1BMVEXp7vG6vsHGy83b4OPM0NPX3N/M0dTV2dzJzdArziWnAAABa0lEQVR4nO3a207CQABF0eqg8v9fbIKAM9KLvZCekrUeadOcHcT2oV0HAAAAAAAAAAAAAAAAAER6W2fv+TcrM2JSNuiIKDlvEvKxd8ZGX0jCV7J+RlDI++orCNmOkOYKaSGfl1Gn+VcIC1n2zzQvZOFtIS5k6Q1OyLbuIaUJmfHwlBbyn4en0vfxAUNK7+dpIe2fVuk5tfRPTguZ/LGXgUNHCylDx+JCxm+IZfBoXsjYI0r7C3q4QlhId7qM6nlobDva3YkhQ/52NMMPFPLYUS8/TkhfRzX9MCH9Hb/bjxIy1HEfnxxS7RruuK0PDqmGjXVcz8oNqZaNd/ycFRtSbZzqiA6pRk52JIdUK6c7gkOmtx8jZGZHbMjcjtSQ2R2hIfM7MkMWdESGLOkQ8gRChDyJkNiQVVcQsh0hzRVCQl7mNacN7J3Rvc47ja8Tcn0laI2vvRPuzu8r7D0eAAAAAAAAAAAAAAAAAOj3DRyCCigtOKF7AAAAAElFTkSuQmCC">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsa quia libero quisquam laudantium expedita asperiores, doloribus quibusdam aut quis similique magni soluta odit voluptatem quasi. Ipsa soluta eius fugiat?Lorem ipsum, dolor
                sit amet consectetur adipisicing elit.Perferendis ullam, consequuntur velit vel incidunt numquam voluptatem?</p>
        </div>
        <div class="third">
            <img class="img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAG1BMVEXp7vG6vsHGy83b4OPM0NPX3N/M0dTV2dzJzdArziWnAAABa0lEQVR4nO3a207CQABF0eqg8v9fbIKAM9KLvZCekrUeadOcHcT2oV0HAAAAAAAAAAAAAAAAAER6W2fv+TcrM2JSNuiIKDlvEvKxd8ZGX0jCV7J+RlDI++orCNmOkOYKaSGfl1Gn+VcIC1n2zzQvZOFtIS5k6Q1OyLbuIaUJmfHwlBbyn4en0vfxAUNK7+dpIe2fVuk5tfRPTguZ/LGXgUNHCylDx+JCxm+IZfBoXsjYI0r7C3q4QlhId7qM6nlobDva3YkhQ/52NMMPFPLYUS8/TkhfRzX9MCH9Hb/bjxIy1HEfnxxS7RruuK0PDqmGjXVcz8oNqZaNd/ycFRtSbZzqiA6pRk52JIdUK6c7gkOmtx8jZGZHbMjcjtSQ2R2hIfM7MkMWdESGLOkQ8gRChDyJkNiQVVcQsh0hzRVCQl7mNacN7J3Rvc47ja8Tcn0laI2vvRPuzu8r7D0eAAAAAAAAAAAAAAAAAOj3DRyCCigtOKF7AAAAAElFTkSuQmCC">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo alias dignissimos soluta saepe, placeat laborum laboriosam ullam inventore obcaecati deleniti sit praesentium doloremque dolores voluptatem esse, tempora quaerat ipsa temporibus?Lorem
                ipsum dolor sit amet consectetur adipisicing!</p>
        </div>

    </div>
</body>

</html>