* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

img {
    width: 100%;
}


/********* TOP-HEADER ******** */

.head {
    text-align: center;
}

.head h1 {
    margin: 0 auto;
    font-family: Arial;
    font-weight: lighter;
    font-size: 50px;
    font-style: normal;
    padding: 50px;
    text-align: center;
}

.header-image {
    width: 90%;
    padding: 0px 25px;
    text-align: center;
    border: 2px solid rgb(18, 240, 66);
    margin: 10px 15px;
}

h1 {
    text-align: center;
}


/********* END TOP-HEADER ******** */


/********* MENU-BAR ******** */

.nav {
    display: block;
    text-align: center;
    margin: 10px 12px;
    border: 2px solid rgb(250, 21, 109);
}

li {
    list-style: none;
    width: 100%;
    border: 1px solid lightgrey;
    height: 30px;
    text-align: center;
}


/*********END OF MENU-BAR ******** */


/*********MAIN CONTENT ******** */

.first,
.second,
.third {
    padding: 0px 25px;
    text-align: center;
    border: 2px solid rgb(18, 240, 66);
    margin: 20px 15px;
}


/*********END OF MAIN CONTENT ******** */

@media only screen and (min-width: 600px) {
    .body {
        background-color: deepskyblue;
        border: none;
    }
    .nav {
        float: right;
        top: 5px;
        right: 60px;
        display: inline;
        border: none;
        position: absolute;
    }
    .headline {
        text-align: left;
        float: left;
        margin-bottom: 20px;
    }
    .nav-list {
        float: left;
        border: none;
        width: 28%;
        margin: 0 auto;
        display: inline;
    }
    .img {
        width: 50%;
        display: inline-block;
        float: left;
    }
    .header-image {
        width: 90%;
        margin: 0 auto;
        float: left;
    }
    .first,
    .second,
    .third {
        width: 90%;
        padding: 0px 25px;
        text-align: center;
        float: left;
    }
}


}
@media only screen and (min-width: 900px) {
    body {
        background-color: rgb(252, 7, 88);
    }
}